.brand-header {
  display: flex;
  justify-content: space-between;

  .name {
    margin-right: var(--spacing-md);
  }

  .action-button {
    background-color: var(--accent-purple);
    border: none;
    padding: 0;
    font-size: 1rem;
    color: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: var(--weight-space-semibold);
    user-select: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 90px;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;

    &:hover{
     transform: translateY(-2px);
    }
  }
}