/* Font Space Grotesk */
@font-face {
  font-family: 'Space Grotesk';
  src: url('./assets/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('./assets/fonts/SpaceGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('./assets/fonts/SpaceGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Font Inter */
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

:root {
/* --- Colors --- */
  --bg-dark: #080D29;
  --accent-purple: #331FE8;
  --text-main: #DCDEF7;
  --text-accent: #7F8BE4 ;


/* --- Typography --- */
  --font-titles: 'Space Grotesk', sans-serif;
  --font-body: 'Inter', sans-serif;
  --size-text-body: 0.75em;

  --weight-space-regular: 400;
  --weight-space-medium: 500;
  --weight-space-semibold: 600;

  --weight-inter-regular: 400;
  --weight-inter-medium: 500;

  --size-mobile-h1: 2rem;
  --size-mobile-h2: 1.5rem;
  --size-mobile-h3: 1.25rem;
  --size-desktop-h1: 2.5rem;
  --size-desktop-h2: 2rem;
  --size-desktop-h3: 1.75em;


/* --- Spaces --- */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --border-radius: 5px;
}

/* Rest Css */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-dark);
  color: var(--text-main);
  font-family: var(--font-body);
  font-weight: var(--weight-inter-regular);
  font-size: var(--size-text-body);
  line-height: 1.8;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

h1, h2, h3, h4 {
  font-family: var(--font-titles);
  font-weight: var(--weight-space-semibold);
  line-height: 1.2;
}

h1 { font-size: var(--size-mobile-h1); }
h2 { font-size: var(--size-mobile-h2); }
h3 { font-size: var(--size-mobile-h3); }

strong {
  color: var(--text-accent);
  font-weight: var(--weight-space-medium);
}

@media (min-width: 1024px) {
  h1 { font-size: var(--size-desktop-h1); }
  h2 { font-size: var(--size-desktop-h2); }
  h3 { font-size: var(--size-desktop-h3); }
}