.layout-wrapper {
  background-color: var(--bg-dark);
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  margin: auto;
  display: grid;
  grid-template-areas:
    "brand"
    "photo"
    "job"
    "main"
    "social";
  gap: var(--spacing-md);
  padding: var(--spacing-md);
}
.brand-header { grid-area: brand; }
.photo-area   { grid-area: photo; }
.job-title    { grid-area: job; }
.main-content { grid-area: main; }
.social-sidebar { grid-area: social; }

.main-content::-webkit-scrollbar {
  width: 8px;
}

.main-content::-webkit-scrollbar-track {
  background: var(--bg-dark);
  border-radius: 10px;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: var(--accent-purple);
  border-radius: 10px;
  border: 2px solid var(--bg-dark);
}


.main-content::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-accent);
}

.main-content {
  scrollbar-color: var(--accent-purple) var(--bg-dark);
  scrollbar-width: thin;
}


@media (min-width: 768px) {
  .layout-wrapper {
    height: 100vh;
    overflow: hidden;
    max-width: 1024px;
    padding: 0;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto 1fr;
    gap: 0;
    grid-template-areas:
      "photo brand"
      "photo job"
      "photo main"
      "photo main";
  }

  .brand-header {
    padding: var(--spacing-sm);
    padding-bottom: 0;
  }

  .job-title {
    padding: var(--spacing-sm);
    padding-top: 0;
  }

  .photo-area {
    grid-area: photo;
    height: 100%;
    height: 100vh;
    position: relative;
  }

  .social-sidebar {
    align-self: center;
    display: flex;
    grid-area: photo;
    justify-self: center;
    height: 50vh;
    flex-direction: row; 
    gap: 20px;
    z-index: 1;
  }

  .main-content {
    grid-area: main;
    overflow-y: auto;
    padding: var(--spacing-sm);
  }
}

@media (min-width: 1024px) {
  .brand-header {
    padding: var(--spacing-md);
    padding-bottom: 0;
  }

  .job-title {
    padding: var(--spacing-md);
    padding-top: 0;
  }

  .main-content {
    padding: var(--spacing-md);
  }
}