.layout-wrapper {
  background-color: var(--bg-dark);
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  margin: auto;
  display: grid;
  grid-template-areas:
    "brand"
    "photo"
    "job"
    "main"
    "social";
  gap: var(--spacing-md);
  padding: var(--spacing-md);
}
.brand-header { grid-area: brand; }
.photo-area   { grid-area: photo; }
.job-title    { grid-area: job; }
.main-content { grid-area: main; }
.social-sidebar { grid-area: social; }


@media (min-width: 1024px) {
  .layout-wrapper {
    max-width: 1024px;
    padding: 0;
    grid-template-columns: 45% 1fr; 
    grid-template-areas:
      "photo brand"
      "photo job"
      "photo main"
      "social main";
    height: 100vh;
  }
}
